<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giriş Yap</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <div class="login-container">
        <div class="login-box">
            <img src="https://iste.edu.tr/files/dikey_logo.png" alt="yazı" style="width:120px;height:80px;" >
            <h2>Giriş Yap</h2>
            <form method="POST" action="/">
                <div class="textbox">
                    <input type="text" id="student_number" name="student_number" required>
                    <label for="student_number">Öğrenci Numarası</label>
                </div>
                <div class="textbox">
                    <input type="password" id="password" name="password" required>
                    <label for="password">Şifre</label>
                </div>
                <button type="submit" class="btn">Giriş Yap</button>
            </form>
            <p><a href="/register">Kayıt Olun</a></p>
            <p><a href="/reset_password">Şifrenizi mi unuttunuz?</a></p>
            <p>{{ msg }}</p>
        </div>
    </div>
</body>
</html>