<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Şifre Sıfırlama</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset_password.css') }}">
</head>
<body>
    <div class="login-container">
        <div class="login-box">
            <img src="https://iste.edu.tr/files/dikey_logo.png" alt="Logo">
            <h2>Şifrenizi Sıfırlayın</h2>
            <form method="POST" action="/reset_password">
                <div class="textbox">
                    <input type="text" id="Student_number" name="Student_number" required>
                    <label for="Student_number">Öğrenci Numarası</label>
                </div>
                <div class="textbox">
                    <input type="password" id="new_password" name="new_password" required>
                    <label for="new_password">Yeni Şifre</label>
                </div>
                <button type="submit" class="btn">Şifreyi Sıfırla</button>
            </form>
            <a href="/">Geri Dön</a>
            <p>{{ msg }}</p>
        </div>
    </div>
</body>
</html>